# The identifier Backend is internal to nginx, and used to name this specific upstream
upstream Devops {
    # backend is the internal DNS name used by the backend Service inside Kubernetes
    server devops;
}
server {
  server_name devops;
  listen 3000;
  location / {
    root /usr/share/nginx/devops;
    try_files $uri $uri/ /index.html;
  }
  
}